@charset "utf-8";
/////////////////////////////////////////////
// cssを生成するだけのグローバルmixinを管理
// 接頭辞にはmy_をつける
/////////////////////////////////////////////


//-------------------------------------------
// メディアクエリ
//-------------------------------------------

// スマートフォン表示
@mixin my_is-sp {
	@media only screen and (max-width: $g_breakpoint) {
		@content;
	}
}
// スマホの中でも更に最小サイズの微調整用
@mixin my_is-sp-min {
	@media only screen and (max-width: $g_breakpoint-min) {
		@content;
	}
}


//-------------------------------------------
// webフォント
// webフォントをbackgroundで使用する
//
// @param {str} // 使用する文字列からはエスケープ \ を除外する（後述）
// @param {margin} // marginを渡す
//
// @use
//    :before {@include my_bg-font-awesome("f013", 0 0 0 0.2em)};
//
// [注意事項]
// - 文字列にエスケープが含まれているとsassのコンパイル時に文字化けしてしまう。
// - 表示上は問題ないが（chromeでのみ確認）、cssファイル上で文字化ける。
// - font-awesomeで定義されている変数にはエスケープが含まれているので変数名をそのまま使用はできない
// - そのためにエスケープを動的に追加するfunctionをかませる、および引数はからエスケープを外すことで対応とした
// - sassのバージョンによっては不要になるかも
//
//-------------------------------------------

// font-awesome
@mixin my_bg-font-awesome($content, $margin: 0 .3em 0 0) {
	font-family: FontAwesome;
	content: my-unicode($content);
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: $margin;
}

// original (by icomoon)
@mixin my_bg-font-origin($content, $margin: 0 .3em 0 0) {
	font-family: origin;
	content: my-unicode($content);
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: $margin;
}




//-------------------------------------------
// bourbon/neat用 
// neatでメディアクエリを使う場合はomegaを打ち消す必要があるため、このmixinを使用する
//
// @param {num} $nth 既にomega()で設定している値を渡す
//-------------------------------------------
@mixin my_omega-reset($nth) {
	&:nth-child(#{$nth}) { margin-right: flex-gutter(); }
	&:nth-child(#{$nth}+1) { clear: none }
}



//-------------------------------------------
// listを打ち消すcssを出力
// 初期値としてinsideなどを設定しているため
//-------------------------------------------
@mixin my_resetList() {
	list-style: none;
	padding-left: 0;
	text-indent: 0;
}




//-------------------------------------------
// remのロールバック
// @use: @include rem(16px)
//-------------------------------------------
@mixin my_rem($size-px: $g_base-font-size-px) {
  font-size: $size-px;
  font-size: ($size-px / $g_base-font-size-px) * 1rem;
}




//-------------------------------------------
// ie8用clearfix
// bourbonのclearfixはie8には効かないので、mixinを再定義する
//-------------------------------------------
@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}