@charset "utf-8";
/* ******************************************
セレクタの初期値を設定
****************************************** */


// 全体に関する指定
html {
	// IEの文字サイズ拡大を使えるようにするため%指定で行う
	font-size: $g_base-font-size-percent;
}
body {
	@include rem();
	color: #333;
	font-family: $g_font-family;
	line-height: 1.8;
	word-wrap:break-word;
	min-width: $g_width-pc;
}


// block要素
h1, h2, h3, h4, h5 {
	font-weight: bold;
	margin: 0;
}
h1 {
	font-size: 130%;
	margin-bottom: 30px;
}
h2 {
	font-size: 120%;
	margin-bottom: 30px;
}
h3 {
	font-size: 110%;
	margin-bottom: 20px;
}
h4 {
	font-size: 100%;
	margin-bottom: 20px;
}
h5 {
	font-size: 100%;
	margin-bottom: 20px;
}
p, ul, ol, dl, dt, dd {
	padding: 0;
	margin: 0;
}
// よく出現するパターンなので初期値を設定しておく
// h はsectionと同時に使うことが多いハズなので指定しない(sectionにモジュールを設定する想定)
p,ul,ol,dl, {
	+ p  {margin-top: 1.5em;}
	+ ul {margin-top: 1.5em;}
	+ ol {margin-top: 1.5em;}
	+ dl {margin-top: 1.5em;}
}
ul,
ol {
	li {
		padding-left: 1em;
		text-indent: -1em;
		list-style-position: inside;
	}
}
dt {
	font-weight: bold;
}
dd {
	margin-top: 0.5em;
	& + dt {
		margin-top: 1.5em;
	}
}
table {
	th {
		vertical-align: top;
	}
}

// inline要素
strong, b {
	//bは非推奨だが、先方入力にタグがあるため
	font-weight: bold;
}
a {
	color: $g_link-color;
	&:link {
		text-decoration: underline;

		// ie用のhack
		// ieだとbefore,after要素でoverrideができないため、擬似要素にiconを設定しているとiconにもunderlineが引かれてしまう
		// 別セレクタで再度上書きしてやる必要がある
		&:before, &:after {
			text-decoration: underline;
		}
		&:before, &:after {
			text-decoration: none;
		}
	}
	&:visited {
	}
	&:hover {
		text-decoration: none;
	}
	a:active {
		color: $g_accent-color;
	}
}


// 置換要素
img {
	vertical-align: top;
}

// フォーム関連
// 複雑なデザインを使用しない、ほとんど出てこないものはここで対応してしまう
// モジュールを作成する場合は、別途_form.scssを作成し、ここでの初期設定は控えめにする
label {
	cursor: pointer;
	vertical-align: text-top;
	+ label {
		margin-left: 1em;
	}
}
input {
	&[type=text],&[type=password] {
		border: 1px solid $g_gray-dark;
		margin: 0;
		padding: 5px 0;
		min-width: 300px;
		width: 50%;
	}
	&[type=submit],&[type=button],&[type=reset] {
		cursor: pointer;
		font-weight: bold;
		margin: 0;
		padding: 5px 10px;
		vertical-align: top;
		+ input[type=submit],	+ input[type=button],	+ input[type=reset] {
			margin-left: 1em;
		}
	}
	&[type=radio],&[type=checkbox] {
		label & {
			cursor: pointer;
			vertical-align: text-top;
			margin: 3px 5px 0px 5px;
		}
	}
}
select {
	border: 1px solid $g_gray-dark;
}
option:nth-child(even) {
	background-color: $g_gray-thin;
}
textarea {
	border: 1px solid $g_gray-dark;
	width: 90%;
}