@charset "utf-8";
/////////////////////////////////////////////
// グローバル変数を管理
// 接頭辞にはg_をつけること
/////////////////////////////////////////////


//-------------------------------------------
// サイズ
//-------------------------------------------
$g_width-pc: 985px !default;
$g_width-pc-main: 725px !default;  // 2カラムのメイン側
$g_width-pc-sub: 220px !default;   // 2カラムのサブ側
$g_breakpoint: 767px !default;
$g_breakpoint-min: 350px !default;  // 最小サイズの調整用



//-------------------------------------------
// フォント
//-------------------------------------------
$g_base-font-size-px: 15px;
$g_base-font-size-percent: ($g_base-font-size-px / 16px * 100) + 0%; // 16pxは全ブラウザの文字サイズ初期値=100%
$g_font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Verdana,'ＭＳ Ｐゴシック','MS PGothic',sans-serif !default;

// original webfont
$g_origin-font-path: "../fonts/font-origin/";
$g_origin-font-name: "origin-webfont";


//-------------------------------------------
// 色
//-------------------------------------------
// 青系
$g_color-blue:        #29abe2 !default;
$g_color-blue-light:  #d6eff9 !default;
$g_color-blue-dark:   #1988b7 !default;
$g_color-green:       #1abc9c !default;
$g_color-green-dark:  #138a72 !default;
$g_color-purple:      #9b59b6 !default;
$g_color-purple-dark: #8e44ad !default;

// オレンジ系
$g_color-orange: #ff931e;
$g_color-orange-light: #ffa645;
$g_color-orange-dark: #bb6100;

// リンク
$g_color-link: #0071BC !default;

// その他
$g_color-accent: #fb3220; // 赤
$g_color-error:  #fb3220; // 赤


//-------------------------------------------
// 画像
//-------------------------------------------

// パターンbase64


