@charset "utf-8";
//-------------------------------------------
// 色設計
//-------------------------------------------

// Color
// 
// ・プロジェクトで使用する基本色のデモ<br>
// ・**モジュール・スタイルにも影響**する<br>
// ・変数名はscssファイルを参考<br>
// ・以下表示されるclass名はガイドのために用意したものなので実際には使用しない
//
// Styleguide: demo1

// Project Color
//
// - main: メインカラー
// - sub: サブカラー
// - base: ベースカラー（多くの場合、無彩色）
// - accent: アクセントカラー（多くの場合、彩度の高い色。複数可）
// - link: リンクカラー
//
// Markup:
// <div class="demo-color-style main"></div>
// <div class="demo-color-style sub"></div>
// <div class="demo-color-style base"></div>
// <div class="demo-color-style accent"></div>
// <div class="demo-color-style link"></div>
//
// Styleguide: demo1.color
.demo-color-style {
	display: inline-block;
	width: 50px;
	height: 50px;
	&.main {background-color: $g_main-color;}
	&.sub {background-color: $g_sub-color;}
	&.base {background-color: $g_base-color;}
	&.accent {background-color: $g_accent-color;}
	&.link {background-color: $g_link-color;}
}


// Project Gray Color
//
// Markup:
// <div class="demo-gray-color-style thin"></div>
// <div class="demo-gray-color-style light"></div>
// <div class="demo-gray-color-style normal"></div>
// <div class="demo-gray-color-style dark"></div>
//
// Styleguide: demo1.gray
.demo-gray-color-style {
	display: inline-block;
	width: 50px;
	height: 50px;
	&.thin {background-color: $g_gray-thin;}
	&.light {background-color: $g_gray-light;}
	&.normal {background-color: $g_gray-normal;}
	&.dark {background-color: $g_gray-dark;}
}



