@charset "utf-8";
//-------------------------------------------
// パターン画像
//-------------------------------------------

// Pattern
// 
// ・プロジェクトで使用するパターン画像のデモ<br>
// ・データはbase64化しているものが多い<br>
// ・**モジュール・スタイルにも影響**する<br>
// ・変数名はscssファイルを参考<br>
// ・以下表示されるclass名はガイドのために用意したものなので実際には使用しない
//
// Styleguide: demo2


// Stripe 
//
// - ストライプパターン
// - 白ベースで作成しているため、背景色を設定して適用する
//
// Markup:
// <div class="demo-stripe-pat thin"></div>
// <div class="demo-stripe-pat normal"></div>
// <div class="demo-stripe-pat bold"></div>
//
// Styleguide: demo2.1
.demo-stripe-pat {
	background-position: 0 0;
	background-repeat: repeat;
	background-color: #000;
	display: inline-block;
	width: 50px;
	height: 50px;
	&.thin {
		background-image: $g_pat-url-thin;
	}
	&.normal {
		background-image: $g_pat-url-normal;
	}
	&.bold {
		background-image: $g_pat-url-bold;
	}
}





