@charset "utf-8";
/* ******************************************
アドホックなスタイルを設定
※blockの接頭辞には、「u-」を付与
※一つのタグに3つ以上このclassが付く場合は、別途モジュール化を検討
****************************************** */


/* -------------------------------------------
位置の指定
------------------------------------------- */
.u-text-center { text-align: center;}
.u-text-left   { text-align: left;}
.u-text-right  { text-align: right;}





/* -------------------------------------------
余白の指定
------------------------------------------- */
// _variables.scss
@each $class, $val in $g_size-list {
	// margin
	.u-mt-#{$class} {
		margin-top: $val !important;
	}
	.u-mb-#{$class} {
		margin-bottom: $val !important;
	}
	.u-ml-#{$class} {
		margin-left: $val !important;
	}
	.u-mr-#{$class} {
		margin-right: $val !important;
	}

	// negative
	.u-ng-mt-#{$class} {
		margin-top: -$val !important;
	}
	.u-ng-mb-#{$class} {
		margin-bottom: -$val !important;
	}
	.u-ng-ml-#{$class} {
		margin-left: -$val !important;
	}
	.u-ng-mr-#{$class} {
		margin-right: -$val !important;
	}

	// padding
	.u-pt-#{$class} {
		padding-top: $val !important;
	}
	.u-pb-#{$class} {
		padding-bottom: $val !important;
	}
	.u-pl-#{$class} {
		padding-left: $val !important;
	}
	.u-pr-#{$class} {
		padding-right: $val !important;
	}
}


