@charset "utf-8";
//-------------------------------------------
// ボタン
//-------------------------------------------

// Button
// 
// ・ボタンに使用するスタイル<br>
// ・class名はプロジェクトによって柔軟に変更する
//
// Styleguide: 7


// Base-btn
//
// ・modifierのmodifierでカラーリング<br>
// ・inputでもaタグでも使用できるように<br>
//
// - @block: m-btn
//
// .is-hoge
//
// Markup:
// <a href="#" class="m-btn {{[modifier_class]}}">ボタン</a>
// <input type="submit" value="ボタン" class="m-btn {{[modifier_class]}}">
// <button type="submit" class="m-btn {{[modifier_class]}}">ボタン</button>
//
// Styleguide: 7.btn
.m-btn {
  $shadowSize: 5px;
  background-color: #f7f7f7;
  color: #333;
  font-weight: bold;
  border-radius: 6px;
  border: 2px solid #ccc;
  display: block;
  margin: 0 0 $shadowSize; // box-shadow分空ける
  box-shadow: 0 $shadowSize 0 0 #aaa;
  font-weight: bold;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease 0s;
  box-sizing: border-box;
  &.is-hoge {
  }
  // 上書きさせないため記述はこの位置で
  &:hover {
    opacity: 0.8;
  }
  &:active {
    box-shadow: none;
    transform: translateY($shadowSize);
  }
  // 親のblock
  $that: &;
  &-wrap {
    // 横並び
    &.is-side {
      margin: -0.5em 0 0;
      max-width: 100%;
      #{$that} {
        display: inline-block;
        margin-top: 0.5em;
      }
      #{$that} + #{$that} {
        margin-left: 0.5em;
      }
    }
    // 位置揃え
    &.is-center {
      text-align: center;
    }
    &.is-left {
      text-align: left;
    }
    &.is-right {
      text-align: right;
    }
    // 余白サイズ
    &.is-small {
      #{$that} {
        padding: 0.2em 1em;
      }
    }
    &.is-middle {
      #{$that} {
        padding-left: 2em;
        padding-right: 2em;
      }
    }
    &.is-large {
      #{$that} {
        padding-left: 4em;
        padding-right: 4em;
      }
    }
  }
}


// btn-wrap
//
// ・btnモジュールの親に指定することで細かい調整を行う
//
// - @block: m-btn-wrap
// - @modifier: m-btn-wrap.is-side
//
// .is-side - 横並び
// .is-center - 中央寄せ
// .is-left - 左寄せ
// .is-right - 右寄せ
// .is-small - ボタン内の余白を小さく
// .is-middle - ボタン内の余白を中くらいに
// .is-large - ボタン内の余白を大きく
//
// Markup:
// <div class="m-btn-wrap is-side {{[modifier_class]}}">
//   <a href="#" class="m-btn">ボタン</a>
//   <a href="#" class="m-btn">ボタン</a>
// </div>
//
// Styleguide: 7.btn-wrap

// スタイルの指定は上で行っている