@charset "utf-8";
//-------------------------------------------
// 色とパターン画像
//-------------------------------------------

// Colors & Pattern
// 
// ・プロジェクトで使用する基本色とパターン画像<br>
// ・**モジュール・スタイルにも影響**する<br>
// ・変数名はscssファイルを参考<br>
// ・以下表示されるclass名はガイドのために用意したものなので実際には使用しない
//
// Styleguide: 1

// Colors
//
// - main: メインカラー
// - sub: サブカラー
// - base: ベースカラー（多くの場合、無彩色）
// - accent: アクセントカラー（多くの場合、彩度の高い色。複数可）
// - link: リンクカラー
//
// Markup:
// <div class="sample-color-style main"></div>
// <div class="sample-color-style sub"></div>
// <div class="sample-color-style base"></div>
// <div class="sample-color-style accent"></div>
// <div class="sample-color-style link"></div>
//
// Styleguide: 1.1
.sample-color-style {
	display: inline-block;
	width: 50px;
	height: 50px;
	&.main {background-color: $g_main-color;}
	&.sub {background-color: $g_sub-color;}
	&.base {background-color: $g_base-color;}
	&.accent {background-color: $g_accent-color;}
	&.link {background-color: $g_link-color;}
}


// Gray Colors
//
// Markup:
// <div class="sample-gray-color-style light"></div>
// <div class="sample-gray-color-style normal"></div>
// <div class="sample-gray-color-style dark"></div>
//
// Styleguide: 1.2
.sample-gray-color-style {
	display: inline-block;
	width: 50px;
	height: 50px;
	&.light {background-color: $g_gray-light;}
	&.normal {background-color: $g_gray-normal;}
	&.dark {background-color: $g_gray-dark;}
}


// Stripe pattern
//
// - 背景として使えるストライプのパターン画像
// - 白ベースで作成しているため、背景色を設定して適用する
// - データはbase64化
//
// Markup:
// <div class="sample-stripe-pat thin"></div>
// <div class="sample-stripe-pat normal"></div>
// <div class="sample-stripe-pat bold"></div>
//
// Styleguide: 1.3
.sample-stripe-pat {
	background-position: 0 0;
	background-repeat: repeat;
	background-color: #000;
	display: inline-block;
	width: 50px;
	height: 50px;
	&.thin {
		background-image: $g_pat-url-thin;
	}
	&.normal {
		background-image: $g_pat-url-normal;
	}
	&.bold {
		background-image: $g_pat-url-bold;
	}
}





