@charset "utf-8";
//-------------------------------------------
// form
//-------------------------------------------

.m-form {
}

.m-form-error-block {
}

.m-form-req {
  color: $g_color-accent;
  margin-left: 0.5em;
  font-size: 85%;
}
.m-form-rec {
  color: $g_color-green;
  margin-left: 0.5em;
  font-size: 85%;
}
.m-form-note {
  color: $g_color-blue;
  margin-left: 0.5em;
  font-size: 85%;
}
.m-form-text {
  // デフォルト指定
  // 半角のみの場合はmodifierで対応
  ime-mode: active;
  // width
  &.is-min {
    width: 5em;
  }
  &.is-xsmall {
    width: 10%;
  }
  &.is-small {
    width: 30%;
  }
  &.is-middle {
    width: 50%;
  }
  &.is-large {
    width: 78%;
  }
  &.is-xlarge {
    width: 90%;
  }
  &.is-max {
    width: 100%;
  }

  // IME-MODE
  &.is-ime-disabled {
    ime-mode: disabled;
  }
  &.is-ime-active {
    ime-mode: active;
  }
  &.is-ime-inactive {
    ime-mode: inactive;
  }
}