@charset "utf-8";
//-------------------------------------------
// 見出し
//-------------------------------------------


// Heading
// 
// ・見出しスタイル
//
// Styleguide: 6

// メインとして使う見出し
.m-head-main {
		position: relative;
		padding-bottom: .2em;
	&:before,&:after {
		position: absolute;
		bottom: -4px;
		left: 0;
		content: '';
		height: 4px;
	}
	&:before {
		z-index: 2;
		width: 30%;
		background-color: $g_color-blue;
	}
	&:after {
		width: 100%;
		background-color: $g_color-blue-light;
		background: -webkit-repeating-linear-gradient(45deg, #fff, #fff 2px, $g_color-blue-light 2px, $g_color-blue-light 4px);
		background: repeating-linear-gradient(45deg, #fff, #fff 2px, $g_color-blue-light 2px, $g_color-blue-light 4px);
	}
}

// よくある特徴のない小見出し
.m-head-type-1 {
  padding: .5em .75em;
	background-color: $g_color-blue-light;
	border-left: 6px solid $g_color-blue;
	&.is-nallow {
		margin-bottom: 20px;
	}
	&.is-gray {
		background-color: #f7f7f7;
		border-color: #aaa;
	}
}
.m-head-type-2 {
	padding: .5em 0;
	border-bottom: 2px solid $g_color-blue;
}
.m-head-type-3 {
	padding: 0.3em 1em;
	border-left: 3px solid $g_color-blue;
}

// 下にしっぽのついた吹き出しスタイル
.m-head-fukidashi {
  position: relative;
	padding: .5em .75em;
	background-color: $g_color-blue-light;
	border-radius: 6px;
	&:after {
    position: absolute;
  	top: 100%;
  	left: 30px;
  	content: '';
  	width: 0;
  	height: 0;
  	border: 10px solid transparent;
  	border-top: 15px solid $g_color-blue-light;
	}
}

// 右上に角折りがついたスタイル
.m-head-dogear {
	color: #fff;
	position: relative;
	padding: .5em 1em;
	background-color: $g_color-blue;
	&:after {
		position: absolute;
		top: 0;
		right: 0;
		content: '';
		width: 0;
		border-width: 0 20px 20px 0;
		border-style: solid;
		border-color: #fff #fff $g_color-blue-dark $g_color-blue-dark;
		box-shadow: -1px 1px 2px rgba(0, 0, 0, .1);
	}
	&.is-nallow {
		margin-bottom: 20px;
	}
}

// 中央に区切り線のついたスタイル
// 内側にspanを設置
.m-head-hr {
  overflow: hidden;
	text-align: center;
  > span {
    position: relative;
  	display: inline-block;
  	margin: 0 2.5em;
  	padding: 0 1em;
  	text-align: left;
    &:before,&:after {
      position: absolute;
    	top: 50%;
    	content: '';
    	width: 400%;
    	height: 1px;
    	background-color: #ccc;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}

// 下にマーカーを引いたスタイル
.m-head-marker {
  position: relative;
	padding: 0 .4em .1em 0;
	&.is-nallow {
		margin-bottom: 20px;
	}
  &:after {
    position: absolute;
  	bottom: 2px;
  	left: 0;
  	z-index: -1;
  	content: '';
  	width: 100%;
  	height: 10px;
  	background-color: #FFECB3;
  }
}
