@charset "utf-8";
//-------------------------------------------
// 見出し
//-------------------------------------------

// 以下は本当はpreset/variablesの中で指定すること
$g_color-blue:        #29abe2 !default;
$g_color-blue-light:  #d6eff9 !default;
$g_color-blue-light2: #c2dfeb !default;
$g_color-blue-dark:   #1988b7 !default;
$g_color-blue-dark2:  #0f5572 !default;
$g_color-blue-dark3:  #082e3e !default;
$g_color-blue2:       #0071BC !default;

// Heading
// 
// ・見出しスタイル
//
// Styleguide: 6

// Heading-main-list
//
// ・メインとして使えそうな見出しをリストアップ
// 
// - @block: m-head-main-1
// - @block: m-head-main-2
// - @block: m-head-main-3
//
// Markup:
//   <h1 class="m-head-main-1">メイン見出し</h1>
//   <h1 class="m-head-main-2">メイン見出し</h1>
//   <h1 class="m-head-main-3">メイン見出し</h1>
//
// Styleguide: 6.head-main-list
.m-head-main-1 {
	position: relative;
	padding: .25em 0 .5em .75em;
	border-left: 6px solid $g_color-blue;
	&:before {
		position: absolute;
		left: -6px;
		bottom: 0;
		content: '';
		width: 6px;
		height: 50%;
		background-color: $g_color-blue-dark;
	}
	&:after {
		position: absolute;
		left: 0;
		bottom: 0;
		content: '';
		width: 100%;
		height: 0;
		border-bottom: 1px solid $g_color-blue-dark;
	}
}

.m-head-main-2 {
	color: #fff;
	position: relative;
	padding: .5em 1em;
	background-color: $g_color-blue;
	&:after {
		position: absolute;
		top: 0;
		right: 0;
		content: '';
		width: 0;
		border-width: 0 20px 20px 0;
		border-style: solid;
		border-color: #fff #fff $g_color-blue-dark $g_color-blue-dark;
		box-shadow: -1px 1px 2px rgba(0, 0, 0, .1);
	}
}

.m-head-main-3 {
		position: relative;
		padding-bottom: .5em;
	&:before,&:after {
		position: absolute;
		bottom: -4px;
		left: 0;
		content: '';
		height: 4px;
	}
	&:before {
		z-index: 2;
		width: 30%;
		background-color: $g_color-blue;
	}
	&:after {
		width: 100%;
		background-color: $g_color-blue-light;
		background: -webkit-repeating-linear-gradient(45deg, #fff, #fff 2px, $g_color-blue-light2 2px, $g_color-blue-light2 4px);
		background: repeating-linear-gradient(45deg, #fff, #fff 2px, $g_color-blue-light2 2px, $g_color-blue-light2 4px);
	}
}


// Heading-sub-list
//
// ・サブとして使えそうな見出しをリストアップ<br>
// ・使うものにはmodifierとして別カラーを設定する
// 
// - @block: m-head-sub-1
// - @block: m-head-sub-2
// - @block: m-head-sub-3
// - @block: m-head-sub-4
// - @block: m-head-sub-5
// - @block: m-head-sub-6
//
// Markup:
//   <h2 class="m-head-sub-1">サブ見出し</h2>
//   <h2 class="m-head-sub-2">サブ見出し</h2>
//   <h2 class="m-head-sub-3">サブ見出し</h2>
//   <h2 class="m-head-sub-4">サブ見出し</h2>
//   <h2 class="m-head-sub-5"><span>サブ見出し</span></h2>
//   <h2 class="m-head-sub-6">サブ見出し</h2>
//
// Styleguide: 6.head-sub-list
.m-head-sub-1 {
  padding: .5em .75em;
	background-color: $g_color-blue-light;
	border-top: 2px solid $g_color-blue;
	border-bottom: 2px solid $g_color-blue;
}

.m-head-sub-2 {
  padding: .5em .75em;
	background-color: $g_color-blue-light;
	border-left: 6px solid $g_color-blue;
}

.m-head-sub-3 {
  position: relative;
	padding: .5em .75em;
	background-color: $g_color-blue-light;
	border-radius: 6px;
	&:after {
    position: absolute;
  	top: 100%;
  	left: 30px;
  	content: '';
  	width: 0;
  	height: 0;
  	border: 10px solid transparent;
  	border-top: 15px solid $g_color-blue-light;
	}
}

.m-head-sub-4 {
  position: relative;
	padding: .5em .75em;
	background-color: #fff;
	border: 1px solid $g_color-blue;
	border-radius: 6px;
	&:before,&:after {
    position: absolute;
  	top: 100%;
  	left: 30px;
  	content: '';
  	height: 0;
  	width: 0;
  	border: 10px solid transparent;
	}
	&:before {
		border-top: 15px solid $g_color-blue;
	}
	&:after {
    margin-top: -2px;
  	border-top: 15px solid #fff;
	}
}

.m-head-sub-5 {
  overflow: hidden;
	text-align: center;
  > span {
    position: relative;
  	display: inline-block;
  	margin: 0 2.5em;
  	padding: 0 1em;
  	text-align: left;
    &:before,&:after {
      position: absolute;
    	top: 50%;
    	content: '';
    	width: 400%;
    	height: 1px;
    	background-color: #ccc;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}

.m-head-sub-6 {
  position: relative;
	padding: 0 .4em .1em;
  &:after {
    position: absolute;
  	bottom: 0;
  	left: 0;
  	z-index: -1;
  	content: '';
  	width: 100%;
  	height: 10px;
  	background-color: #b6f0fc;
  }
}

