@charset "utf-8";
//-------------------------------------------
// アイコン
//-------------------------------------------

// Icon
// 
// ・基本的には<strong>font-awesome</strong>を使ったもの<br>
// ・<strong>アイコン以外の装飾がある場合は、別途モジュール内に組み込むこと</strong><br>
// ・専用のmixinを使っているだけなので詳細はmixin内を参照<br>
// ・使えるアイコンはhttp://fontawesome.io/cheatsheet/ を参考（ただし最新のものは使えない可能性あり）
//
// Styleguide: 10

// Font-awesome コンパイルのメモ
//
// - ・文字列にエスケープが含まれているとsassのコンパイル時に文字化けする
// - ・（ブラウザ上は問題ないが（chromeでのみ確認）、cssファイル上で文字化け）
// - ・font-awesomeで定義されている変数にはエスケープが含まれているので変数名をそのまま使用はできない
// - ・そのためにエスケープを動的に追加するfunctionをかませる、および引数からはエスケープを外すことで対応とした
// - ・sassのバージョンによっては不要になるかも
//
// Markup:
//
// Styleguide: 10.01



// Icon-before
//
// - 色々なアイコンを左側に設定<br>
// - 単体で完結させる
//
// .is-external - 外部リンク
// .is-pdf - pdf
// .is-image - 画像
// .is-search - 虫眼鏡
// .is-question - はてな
// .is-comment - 吹き出し
// .is-mail - メール
// .is-car - 車
// .is-user - 人
// .is-users - 人々
// .is-check - チェック済み
// .is-check-s - シンプルなチェック
// .is-info - インフォメーションマーク
// .is-home - 家
// .is-phone - 電話
// .is-mphone - 携帯電話
// .is-fax - fax
// .is-map - 地図
// .is-back - 戻る矢印
//
// Markup:
// <a href="#" class="m-icon-before {{[modifier_class]}}">リンク</a><br>
// <a href="#" class="m-icon-after {{[modifier_class]}}">リンク</a>
//
// Styleguide: 10.icon-before
@mixin icon-data($before-after: 'before') {
	&.is-external {
		&:#{$before-after} {
			content: "\f08e";
		}
	}
	&.is-pdf {
		&:#{$before-after} {
			content: "\f1c1";
		}
	}
	&.is-image {
		&:#{$before-after} {
			content: "\f1c1";
		}
	}
	&.is-search {
		&:#{$before-after} {
			content: "\f002";
		}
	}
	&.is-question {
		&:#{$before-after} {
			content: "\f059";
		}
	}
	&.is-comment {
		&:#{$before-after} {
			content: "\f086";
		}
	}
	&.is-mail {
		&:#{$before-after} {
			content: "\f0e0";
		}
	}
	&.is-car {
		&:#{$before-after} {
			content: "\f1b9";
			margin-right: 12px;
		}
	}
	&.is-user {
		&:#{$before-after} {
			content: "\f007";
		}
	}
	&.is-users {
		&:#{$before-after} {
			content: "\f0c0";
		}
	}
	&.is-check {
		&:#{$before-after} {
			content: "\f046";
		}
	}
	&.is-check-s {
		&:#{$before-after} {
			content: "\f00c";
		}
	}
	&.is-info {
		&:#{$before-after} {
			content: "\f05a";
		}
	}
	&.is-home {
		&:#{$before-after} {
			content: "\f015";
		}
	}
	&.is-phone {
		&:#{$before-after} {
			content: "\f095";
		}
	}
	&.is-mphone {
		&:#{$before-after} {
			content: "\f10b";
		}
	}
	&.is-fax {
		&:#{$before-after} {
			content: "\f1ac";
		}
	}
	&.is-twitter {
		&:#{$before-after} {
			color: #55ACEE;
			content: "\f099";
		}
	}
	&.is-fb {
		&:#{$before-after} {
			color: #3B5998;
			content: "\f230";
		}
	}
	&.is-map {
		&:#{$before-after} {
			content: "\f041";
		}
	}
	&.is-back {
		&:#{$before-after} {
			content: "\f060";
		}
	}
}
.m-icon-before {
	&:before {
		@include my_bg-font-awesome("f105", $margin: 0 7px 0 0);
	}
	@include icon-data('before');
}
.m-icon-after {
	&:after {
		@include my_bg-font-awesome("f105", $margin: 0 0 0 7px);
	}
	@include icon-data('after');
}


// icomoonを使用したオリジナルwebfont
@mixin org-icon-data($before-after: 'before') {
	&.is-search {
		&:#{$before-after} {
			content: "\e900";
		}
	}
}
.m-org-icon-before {
	&:before {
		@include my_bg-font-origin("e900", $margin: 0 10px 0 0);
	}
	@include org-icon-data('before');
}
.m-org-icon-after {
	&:after {
		@include my_bg-font-origin("e900", $margin: 0 0 0 10px);
	}
	@include org-icon-data('after');
}

