@charset "utf-8";
//-------------------------------------------
// 画像
//-------------------------------------------

// Image
// 
// ・画像に使用するスタイル<br>
// ・imgタグのみだと表現に限界があるため、一つ要素で囲む<br>
// ・is-hoverでマウスオーバー時のアクションを設定<br>
// ・class名はプロジェクトによって柔軟に変更すること
//
// Styleguide: 11

// Image-glow
//
// - 画像の周りに透過縁取り
//
// .is-hover - マウスオーバーで縁取りを消す
//
// Markup:
// <div class="m-image-glow {{[modifier_class]}}">
//   <img src="http://placehold.jp/150x150.png" alt="" />
// </div>
//
// Styleguide: 11.image-glow
.m-image-glow {
	position: relative;
	display: inline-block;
	&:before {
		transition: all .5s;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 0 0px 7px rgba(255, 255, 255, .6);
	}
	&.is-hover:hover:before {
		box-shadow: none;
	}
}



// Image-shadow
//
// - 画像にトンネル効果
//
// .is-hover - マウスオーバーでトンネルを消す
//
// Markup:
// <div class="m-image-shadow {{[modifier_class]}}">
//   <img src="http://placehold.jp/150x150.png" alt="" />
// </div>
//
// Styleguide: 11.image-shadow
.m-image-shadow {
	position: relative;
	display: inline-block;
	&:before {
		transition: all .3s;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 0 60px 0 rgba(100, 100, 100, 0.6);
	}
	&.is-hover:hover:before {
		box-shadow: none;
	}
}



// Image-zoom
//
// - ズームアップ
//
// .is-hover - マウスオーバーで画像をズームアップ
//
// Markup:
// <div class="m-image-zoom {{[modifier_class]}}">
//   <img src="http://placehold.jp/150x150.png" alt="" />
// </div>
//
// Styleguide: 11.image-zoom
.m-image-zoom {
	display: inline-block;
	overflow: hidden;
	> img {
		transition: all .3s;
	}
	&.is-hover:hover {
		> img {
			transform: scale(1.3);
		}
	}
}



// Image-stripe
//
// - ストライプボーダー
//
// .is-hover - マウスオーバーでストライプを濃く
//
// Markup:
// <div class="m-image-stripe {{[modifier_class]}}">
//   <img src="http://placehold.jp/150x150.png" alt="" />
// </div>
//
// Styleguide: 11.image-stripe
.m-image-stripe {
	background: $g_pat-url-normal 0 0 repeat shade($g_gray-thin, 5%);
	display: inline-block;
	transition: all .3s;
	padding: 8px;
	> img {
		box-sizing: border-box;
		border: 2px solid #fff;
	}
	&.is-hover:hover {
		background-color: shade($g_gray-thin, 20%);
	}
}



// Image-simple
//
// - 白フチどりした写真のようなシンプルなスタイル
//
// .is-hover - マウスオーバーで回転
//
// Markup:
// <div class="m-image-simple {{[modifier_class]}}">
//   <img src="http://placehold.jp/150x150.png" alt="" />
// </div>
//
// Styleguide: 11.image-simple
.m-image-simple {
	border: 1px solid $g_gray-light;
	box-shadow: 0 0 3px 0 $g_gray-normal;
	display: inline-block;
	transition: all .3s;
	> img {
		box-sizing: border-box;
		border: 7px solid #fff;
	}
	&.is-hover:hover {
		transform: rotate(5deg);
	}
}



// Image-caption
//
// - 画像の上にキャプションを重ねる<br>
// - 他のimage-moduleと組み合わせて使う
//
// Markup:
// <div class="m-image-cap m-image-simple">
//   <img src="http://placehold.jp/150x150.png" alt="" />
//   <span class="m-image-cap__body">キャプション</span>
// </div>
//
// Styleguide: 11.image-cap
.m-image-cap {
	position: relative;
}
.m-image-cap__body {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.7);
	color: #777;
	display: block;
	font-size: 90%;
	text-align: center;
	padding: 10px 0;
	line-height: 1.5;
	width: 100%;
}
