@charset "utf-8";
//-------------------------------------------
// リンク
//-------------------------------------------

// Link
// 
// ・リンクに使用するスタイル<br>
// ・ボタンより固くない、シンプルなデザイン<br>
// ・class名はプロジェクトによって柔軟に変更すること
//
// Styleguide: 10


// Link-icon-before
//
// - 色々なアイコンを左側に設定<br>
// - 単体で完結させる
//
// .is-external - 外部リンク
// .is-pdf - pdf
// .is-image - 画像
// .is-zoom - ズームアップ
//
// Markup:
// <a href="#" class="m-link-icon-before {{[modifier_class]}}">リンク</a>
//
// Styleguide: 10.link-icon-1

.m-link-icon-before {
	&:before {
		font-size: 90%;
		@include my_bg-font-awesome("f105", $margin: 0 7px 0 0);
	}
	&.is-external {
		&:before {
			content: "\f08e";
		}
	}
	&.is-pdf {
		&:before {
			content: "\f1c1";
		}
	}
	&.is-image {
		&:before {
			content: "\f1c1";
		}
	}
	&.is-zoom {
		&:before {
			content: "\f00e";
		}
	}
}


// Link-icon-after
//
// - 色々なアイコンを右側に設定<br>
// - 単体で完結させる
//
// .is-external - 外部リンク
// .is-pdf - pdf
// .is-image - 画像
// .is-zoom - ズームアップ
//
// Markup:
// <a href="#" class="m-link-icon-after {{[modifier_class]}}">リンク</a>
//
// Styleguide: 10.link-icon-2

.m-link-icon-after {
	&:after {
		font-size: 90%;
		@include my_bg-font-awesome("f105", $margin: 0 0 0 7px);
	}
	&.is-external {
		&:after {
			content: "\f08e";
		}
	}
	&.is-pdf {
		&:after {
			content: "\f1c1";
		}
	}
	&.is-image {
		&:after {
			content: "\f1c1";
		}
	}
	&.is-zoom {
		&:after {
			content: "\f00e";
		}
	}
}

