@charset "utf-8";
//-------------------------------------------
// リスト
//-------------------------------------------

// List
// 
// ・リスト要素に使用<br>
//
// Styleguide: 9

// List-date
//
// ・日付とテキストの表示
//
// Markup:
// <div class="m-list-date">
//   <ul>
//     <li>
//       <span class="m-list-date__date">2015年12月11日</span>
//       <a href="#" class="m-list-date__title">お知らせのタイトルが入ります</a>
//     </li>
//     <li>
//       <span class="m-list-date__date">2015年12月11日</span>
//       <a href="#" class="m-list-date__title">お知らせのタイトルが入ります</a>
//     </li>
//     <li>
//       <span class="m-list-date__date">2015年12月11日</span>
//       <a href="#" class="m-list-date__title">お知らせのタイトルが入ります</a>
//     </li>
//     <li>
//       <span class="m-list-date__date">2015年12月11日</span>
//       <a href="#" class="m-list-date__title">お知らせのタイトルが入ります</a>
//     </li>
//     <li>
//       <span class="m-list-date__date">2015年12月11日</span>
//       <a href="#" class="m-list-date__title">お知らせのタイトルが入ります</a>
//     </li>
//   </ul>
// </div>
//
// Styleguide: 9.list-date
.m-list-date {
	// common
	ul {
		margin: 0 10px;
	}
	li {
		@include my_resetList;
		position: relative;
		padding-right: 10px;
		padding-bottom: 14px;
		border-bottom: 1px dashed $g_gray-normal;
	}
	li + li {
		padding-top: 14px;
	}
}
.m-list-date__date {
	color: #777;
	font-weight: bold;
	position: absolute;
	left: 10px;
}
.m-list-date__title {
	position: relative;
	display: block;
	margin-left: 12em;
}



// List-plain
//
// ・余白だけのリスト<br>
// ・modifierで余白を調整<br>
//
// .has-small - 余白小さい
// .has-middle - 余白中
// .has-large - 余白大
//
// Markup:
// <ul class="m-list-plain {{[modifier_class]}}">
//   <li>リスト</li>
//   <li>リスト</li>
//   <li>リスト</li>
// </ul>
// <ol class="m-list-plain {{[modifier_class]}}">
//   <li>リスト</li>
//   <li>リスト</li>
//   <li>リスト</li>
// </ol>
//
// Styleguide: 9.list-plain
.m-list-plain {
	li + li {
		margin-top: 10px;
	}
	&.has-small {
		li + li {
			margin-top: 3px;
		}
	}
	&.has-middle {
		li + li {
			margin-top: 20px;
		}
	}
	&.has-large {
		li + li {
			margin-top: 30px;
		}
	}
	&.is-disc {
		padding-left: 2em;
		list-style-type: disc;
	}
}




// List-simple
//
// ・下線と簡単な装飾をつけるだけ<br>
// ・list-style-typeは削除
//
// Markup:
// <ul class="m-list-simple {{[modifier_class]}}">
//   <li>リスト</li>
//   <li>リスト</li>
//   <li>リスト</li>
// </ul>
//
// Styleguide: 9.list-simple
.m-list-simple {
	> li {
		@include my_resetList;
		padding: 10px 15px 10px 25px;
		position: relative;
		list-style-type: none;
		&:before {
			content: '';
			background-color: #777;
			display: block;
			position: absolute;
			left: 10px;
			top: 18px;
			height: 5px;
			width: 5px;
		}
		+ li {
			padding-top: 10px;
			border-top: 1px dashed $g_gray-normal;
		}
	}
}



// List-stripe
//
// ・シンプルなしましまリスト<br>
// ・list-style-typeは削除
//
// Markup:
// <ul class="m-list-stripe {{[modifier_class]}}">
//   <li>リスト</li>
//   <li>リスト</li>
//   <li>リスト</li>
// </ul>
//
// Styleguide: 9.list-stripe
.m-list-stripe {
	> li {
		@include my_resetList;
		padding: 10px;
		position: relative;
		&:nth-child(even) {
			background-color: $g_gray-thin;
		}
	}
}


