@charset "utf-8";
//-------------------------------------------
// リスト
//-------------------------------------------

// List
// 
// ・リスト要素に使用<br>
//
// Styleguide: 9


// List-plain
//
// ・余白だけのリスト<br>
// ・modifierで余白を調整<br>
//
// .has-small - 余白小さい
// .has-middle - 余白中
// .has-large - 余白大
//
// Markup:
// <ul class="m-list-plain {{[modifier_class]}}">
//   <li>リスト</li>
//   <li>リスト</li>
//   <li>リスト</li>
// </ul>
// <ol class="m-list-plain {{[modifier_class]}}">
//   <li>リスト</li>
//   <li>リスト</li>
//   <li>リスト</li>
// </ol>
//
// Styleguide: 9.list-plain
.m-list-plain {
	li + li {
		margin-top: 10px;
	}
	&.has-small {
		li + li {
			margin-top: 3px;
		}
	}
	&.has-middle {
		li + li {
			margin-top: 20px;
		}
	}
	&.has-large {
		li + li {
			margin-top: 30px;
		}
	}
	&.is-disc {
		padding-left: 2em;
		list-style-type: disc;
	}
}




// List-simple
//
// ・下線と簡単な装飾をつけるだけ<br>
// ・list-style-typeは削除
//
// Markup:
// <ul class="m-list-simple {{[modifier_class]}}">
//   <li>リスト</li>
//   <li>リスト</li>
//   <li>リスト</li>
// </ul>
//
// Styleguide: 9.list-simple
.m-list-simple {
	> li {
		padding-top: 0;
		padding-bottom: 10px;
		+ li {
			padding-top: 10px;
			border-top: 1px dashed #ccc;
		}
	}
	&.is-no-mark {
		> li {
			@include my_resetList;
			list-style: none;
		}
	}
}


// List-stripe
//
// ・シンプルなしましまリスト<br>
// ・list-style-typeは削除
//
// Markup:
// <ul class="m-list-stripe {{[modifier_class]}}">
//   <li>リスト</li>
//   <li>リスト</li>
//   <li>リスト</li>
// </ul>
//
// Styleguide: 9.list-stripe
.m-list-stripe {
	> li {
		@include my_resetList;
		padding: 10px;
		position: relative;
		&:nth-child(even) {
			background-color: #f7f7f7;
		}
	}
}


// List-checked
//
// ・チェックリスト<br>
// ・list-style-typeは削除
//
// Markup:
// <ul class="m-list-checked {{[modifier_class]}}">
//   <li>リスト</li>
//   <li>リスト</li>
//   <li>リスト</li>
// </ul>
//
// Styleguide: 9.list-stripe
.m-list-checked {
	> li {
		@include my_resetList;
		&:before {
			@include my_bg-font-awesome("f046", $margin: 0 10px 0 0);
		}
		& + li {
			margin-top: .5em;
		}
	}
}



