@charset "utf-8";
//-------------------------------------------
// メディア
//-------------------------------------------

// Media
//
// ・画像などのメディアとテキストの複合パターン<br>
// ・class名はプロジェクトによって柔軟に変更する
//
// Styleguide: 4


// PCとスマホで画像を切り替えるブロック
// elementとして__imgが必要
.m-media-switch-breakpoint {
	&__img {
		> img {
			max-width: 100%;
		}
		&.is-sp {
			display: none;
			> img {
				height: auto;
				width: 100%;
				max-width: 500px;
			}
		}
		@include my_is-sp() {
			&.is-pc {
				display: none;
			}
			&.is-sp {
				display: block;
			}
		}
	}
}
