@charset "utf-8";
//-------------------------------------------
// セクション
//-------------------------------------------

// Section
//
// ・主にメインコンテンツ内でのセクションの余白を管理する<br>
// ・スタイルガイド上は分かりやすく色をつけている（実際にはつかないので注意）
//
// Styleguide: 1

// Section
//
// ・セクション間にはデフォルトである程度の余白を設けているが、Modifierを渡すことで調整可能<br>
// ・余白の設定はModifierが多くなりがちなので、ある程度モジュールごとに決め打ちで複数作成しても良い
// 
// - @block   : m-section
// - @element : m-section__head
// - @element : m-section__body
// - @modifier: m-section.is-small
// - @modifier: m-section.is-large
// - @modifier: m-section.has-gutter
// 
// .is-small - 余白小
// .is-large - 余白大
// .has-gutter - 内側の余白
//
// Markup:
// <section class="m-section {{[modifier_class]}}" style="background-color: #ccc;">
//   <div class="m-section__head">
//     <h1>見出し</h1>
//   </div>
//   <div class="m-section__body">
//     <p>セクション本文</p>
//     <section class="m-section" style="background-color: #f7f7f7;">
//       <div class="m-section__head">
//         <h2>見出し</h2>
//       </div>
//       <div class="m-section__body">
//         <p>セクション本文</p>
//       </div>
//     </section>
//   </div>
// </section>
// <section class="m-section {{[modifier_class]}}" style="background-color: #ccc;">
//   <div class="m-section__head">
//     <h1>見出し</h1>
//   </div>
//   <div class="m-section__body">
//     <p>セクション本文</p>
//     <section class="m-section" style="background-color: #f7f7f7;">
//       <div class="m-section__head">
//         <h2>見出し</h2>
//       </div>
//       <div class="m-section__body">
//         <p>セクション本文</p>
//       </div>
//     </section>
//     <section class="m-section" style="background-color: #f7f7f7;">
//       <div class="m-section__head">
//         <h2>見出し</h2>
//       </div>
//       <div class="m-section__body">
//         <p>セクション本文</p>
//       </div>
//     </section>
//   </div>
// </section>
//
// Styleguide: 1.1
.m-section {
	$that: &;
	margin-bottom: 60px;
	&.is-small {
		margin-bottom: 30px;
	}
	&.is-large {
		margin-bottom: 100px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&.has-gutter {
		#{$that}__head, #{$that}__body {
			margin: 0 20px;
		}
	}
}


