@charset "utf-8";
//-------------------------------------------
// セクション
//-------------------------------------------

// Section
//
// ・セクションの余白を管理<br>
// ・スタイルガイド上は分かりやすく彩色（実際にはつかないので注意）
//
// Styleguide: 1

// Section
//
// ・主にsectionタグに対して使用
// ・上にある程度の余白を設定。Modifierを渡すことで調整が可能<br>
// ・elementを渡せば内側に余白を設定<br>
// ・見出しには左右の余白は設けない（設ける場合は別途elementを用意するか、指定のところでコメントアウトしているpaddingを有効に）
// 
// - @block: m-sec-main
// - @modifier: m-sec-main.is-none
// - @modifier: m-sec-main.is-small
// - @modifier: m-sec-main.is-middle
// - @modifier: m-sec-main.is-large
// - @modifier: m-sec-main.is-xlarge
// - @element: m-sec-main__body
// 
// .is-none - 余白無し
// .is-small - 余白小
// .is-middle - 余白小
// .is-large - 余白大
// .is-xlarge - 余白特大
//
// Markup:
// <article>
//   <h1 style="margin: 0;">article 大見出し</h1>
//   <section class="m-sec-main" style="background-color: #ccc;">
//     <h2 style="margin: 0;">デフォルト</h2>
//     <div class="m-sec-main__body">
//       <p>セクション本文</p>
//       <section class="m-sec-main" style="background-color: #f7f7f7;">
//         <h3 style="margin: 0;">内側セクション</h3>
//         <div class="m-sec-main__body">
//           <p>セクション本文</p>
//         </div>
//       </section>
//     </div>
//   </section>
//   <section class="m-sec-main {{[modifier_class]}}" style="background-color: #ccc;">
//     <h2 style="margin: 0;">elementにis-no-gutter を追加</h2>
//     <div class="m-sec-main__body is-no-gutter">
//       <p>セクション本文</p>
//       <section class="m-sec-main" style="background-color: #f7f7f7;">
//         <h3 style="margin: 0;">内側セクション</h3>
//         <div class="m-sec-main__body is-no-gutter">
//           <p>セクション本文</p>
//         </div>
//       </section>
//       <section class="m-sec-main" style="background-color: #f7f7f7;">
//         <h3 style="margin: 0;">内側セクション</h3>
//         <div class="m-sec-main__body is-no-gutter">
//           <p>セクション本文</p>
//         </div>
//       </section>
//     </div>
//   </section>
// </article>
//
// Styleguide: 1.section
.m-sec-main {
	margin-top: 30px;
	// padding-left: 20px;
	// padding-right: 20px;
	// 順番は変えないこと
	& + & {
		margin-top: 60px;
	}
	&.is-none {
		margin-top: 0;
	}
	&.is-small {
		margin-top: 10px;
	}
	&.is-middle {
		margin-top: 30px;
	}
	&.is-large {
		margin-top: 60px;
	}
	&.is-xlarge {
		margin-top: 100px;
	}
	&__body {
		margin-left: 20px;
		margin-right: 20px;
	}
}



// Section-min
//
// ・m-sec-mainよりデフォルトでの余白を小さくしたもの<br>
// ・m-sec-main.is-middleのショートカット<br>
// ・modifierは基本設定しない
// 
// - @block: m-sec-min
// - @element: m-sec-main__body
//
// Markup:
//   <h1 style="margin: 0;">article 大見出し</h1>
//   <section class="m-sec-min" style="background-color: #ccc;">
//     <h2 style="margin:0;">見出し1</h2>
//     <div class="m-sec-min__body">
//       <p>セクション本文1</p>
//       <section class="m-sec-min" style="background-color: #ccc;">
//         <h3 style="margin:0;">見出し2</h3>
//         <p>セクション本文2</p>
//       </section>
//     </div>
//   </section>
//   <section class="m-sec-min {{[modifier_class]}}" style="background-color: #ccc;">
//     <h2 style="margin:0;">見出し1</h2>
//     <div class="m-sec-min__body">
//       <p>セクション本文1</p>
//       <section class="m-sec-min" style="background-color: #ccc;">
//         <h3 style="margin:0;">見出し2</h3>
//         <p>セクション本文2</p>
//       </section>
//     </div>
//   </section>
//
// Styleguide: 1.section-min
.m-sec-min {
	margin-top: 30px;
	// 順番は変えないこと
	&__body {
		margin-left: 20px;
		margin-right: 20px;
	}
}

