@charset "utf-8";
//-------------------------------------------
// セクション
//-------------------------------------------

// Section
//
// ・主にメインコンテンツ内でのセクションの余白を管理する<br>
// ・スタイルガイド上は分かりやすく色をつけている（実際にはつかないので注意）
//
// Styleguide: 1

// Section
//
// ・セクションの上にはデフォルトである程度の余白を設けているが、Modifierを渡すことで調整が可能<br>
// ・elementとして内側に余白を設ける（modifierを渡すことで余白は削除可能）<br>
// ・見出しには余白は設けない（設ける場合は別途elementを用意するか、指定のところでコメントアウトしているpaddingを有効に）
// 
// - @block   : m-section
// - @element : m-section__body
// - @modifier: m-section.is-small
// - @modifier: m-section.is-middle
// - @modifier: m-section.is-large
// - @modifier: m-section__body.is-no-gutter
// 
// .is-small - 余白小
// .is-middle - 余白小
// .is-large - 余白大
//
// Markup:
// <article>
//   <h1>article 大見出し</h1>
//   <section class="m-section" style="background-color: #ccc;">
//     <h2>デフォルト</h2>
//     <div class="m-section__body">
//       <p>セクション本文</p>
//       <section class="m-section" style="background-color: #f7f7f7;">
//         <h3>見出し</h3>
//         <div class="m-section__body">
//           <p>セクション本文</p>
//         </div>
//       </section>
//     </div>
//   </section>
//   <section class="m-section {{[modifier_class]}}" style="background-color: #ccc;">
//     <h2>elementにis-no-gutter を追加</h2>
//     <div class="m-section__body is-no-gutter">
//       <p>セクション本文</p>
//       <section class="m-section" style="background-color: #f7f7f7;">
//         <h3>見出し</h3>
//         <div class="m-section__body is-no-gutter">
//           <p>セクション本文</p>
//         </div>
//       </section>
//       <section class="m-section" style="background-color: #f7f7f7;">
//         <h3>見出し</h3>
//         <div class="m-section__body is-no-gutter">
//           <p>セクション本文</p>
//         </div>
//       </section>
//     </div>
//   </section>
// </article>
//
// Styleguide: 1.1
.m-section {
	margin-top: 30px;
	// padding-left: 20px;
	// padding-right: 20px;
	// 順番は変えないこと
	& + & {
		margin-top: 60px;
	}
	&.is-small {
		margin-top: 10px;
	}
	&.is-middle {
		margin-top: 30px;
	}
	&.is-large {
		margin-top: 100px;
	}
	// &.is-no-gutter {
	// 	padding-left: 0;
	// 	padding-right: 0;
	// }
}
.m-section__body {
	margin-left: 20px;
	margin-right: 20px;
	&.is-no-gutter {
		margin-left: 0;
		margin-right: 0;
	}
}



// Section-min
//
// ・セクションの上にはデフォルトである程度の余白を設けているが、Modifierを渡すことで調整が可能<br>
// ・m-sectionとは違い、内側余白を設定するelementは用意していない
// 
// - @block   : m-section-min
// - @modifier: m-section-min.is-small
// - @modifier: m-section-min.is-middle
// - @modifier: m-section-min.is-large
//
// .is-small - 余白小
// .is-middle - 余白小
// .is-large - 余白大
//
// Markup:
//   <section class="m-section-min" style="background-color: #ccc;">
//     <h3>見出し1</h3>
//     <p>セクション本文1</p>
//     <section class="m-section-min" style="background-color: #ccc;">
//       <h3>見出し2</h3>
//       <p>セクション本文2</p>
//     </section>
//   </section>
//   <section class="m-section-min {{[modifier_class]}}" style="background-color: #ccc;">
//     <h3>見出し1</h3>
//     <p>セクション本文1</p>
//     <section class="m-section-min" style="background-color: #ccc;">
//       <h3>見出し2</h3>
//       <p>セクション本文2</p>
//     </section>
//   </section>
//
// Styleguide: 1.2
.m-section-min {
	margin-top: 30px;
	// 順番は変えないこと
	& + & {
		margin-top: 30px;
	}
	&.is-small {
		margin-top: 10px;
	}
	&.is-middle {
		margin-top: 30px;
	}
	&.is-large {
		margin-top: 100px;
	}
}

