@charset "utf-8";
//-------------------------------------------
// テーブル
//-------------------------------------------

// Table
// 
// ・テーブル要素に使用するスタイル<br>
// ・class名はプロジェクトによって柔軟に変更する<br>
// 
//
// Styleguide: 8


// table-1
//
// ・左にヘッダータイプ<br>
// ・tableタグの入れ子対応用も想定している
//
// Markup:
// <table class="m-table-1">
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
// </table>
//
// Styleguide: 8.1
.m-table-1 {
	border-collapse: collapse;
	width: 100%;
	th, td {
		border-bottom: 1px solid $g_gray-normal;
		padding: 12px 20px;
		vertical-align: text-bottom;
		line-height: 1.5;
	}
	th {
		background-color: $g_gray-thin;
		font-weight: bold;
		text-align: left;
		padding-left: 15px;
		padding-right: 15px;
		white-space: nowrap;
		width: 20%;
	}
	td {
		// table入れ子対策
		&.m-table-1__nest {
			table {
				border-collapse: collapse;
				width: 100%;
				th, td, {
					padding: 10px;
					border: none;
					border-bottom: 1px dashed $g_gray-normal;
				}
				th {
					background-color: #fff;
				}
				tr:last-child {
					th, td {
						border-bottom: none;
					}
				}
			}
		}
	}
	tr:first-child {
		th {
			border-top: 3px solid $g_main-color;
			padding-top: 14px;
		}
		td {
			border-top: 3px solid $g_gray-normal;
			padding-top: 14px;
		}
	}
}



// table-2
//
// ・左にヘッダータイプ<br>
// ・tableタグの入れ子対応用は想定していない
//
// Markup:
// <table class="m-table-2">
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
// </table>
//
// Styleguide: 8.2
.m-table-2 {
	border-collapse: collapse;
	width: 100%;
	th, td {
		border-bottom: 1px dashed tint($g_main-color, 60%);
		padding: 12px 20px;
		vertical-align: text-bottom;
	}
	th {
		background-color: tint($g_main-color, 85%);
		text-align: left;
		padding-left: 15px;
		padding-right: 15px;
		width: 20%;
	}
	tr:last-child {
		th, td {
			border-bottom: none;
			border-bottom: none;
		}
	}
}



// table-3
//
// ・左にヘッダータイプ<br>
// ・tableタグの入れ子対応用は想定していない
//
// Markup:
// <table class="m-table-3">
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
//   <tr>
//     <th>見出し</th>
//     <td>テキスト</td>
//   </tr>
// </table>
//
// Styleguide: 8.3
.m-table-3 {
	border-collapse: collapse;
	border: 1px solid $g_gray-normal;
	width: 100%;
	box-shadow: 0 0 0 5px $g_gray-thin;
	th, td {
		border: 1px dashed $g_gray-normal;
		border-right: none;
		border-left: none;
		padding: 12px 20px;
		vertical-align: text-bottom;
	}
	th {
		background-color: $g_gray-thin;
		text-align: left;
		padding-left: 15px;
		padding-right: 15px;
		width: 20%;
	}
	td {
		position: relative;
		&:after {
			@include triangle(12px, gray, left);
		}
	}
}


