@charset "utf-8";
//-------------------------------------------
// テキスト
//-------------------------------------------

// Text
// 
// ・テキストに使用するスタイル<br>
// ・基本的にはinlineで使用することを想定
//
// Styleguide: 12


// text-attention
//
// Markup:
// <span class="m-text-attention">※必須</span>
//
// Styleguide: 12.attention
.m-text-attention {
	font-size: 120%;;
	font-weight: bold;
	color: $g_color-accent;
}


// text-note
//
// Markup:
// <span class="m-text-note">※必須</span>
//
// Styleguide: 12.note
.m-text-note {
	font-weight: normal;
	font-style: oblique;
	color: #777;
}


// text-footnote
//
// Markup:
// <span class="m-text-footnote">※必須</span>
//
// Styleguide: 12.footnote
.m-text-footnote {
	background-color: #f7f7f7;
	font-weight: normal;
	font-size: 90%;
	color: #888;
	padding: 0 0.2em;
}


// text-bigger
//
//
// Markup:
// <span class="m-text-bigger">大き</span>くする
//
// Styleguide: 12.bigger
.m-text-bigger {
	font-size: 120%;;
}


.m-text-br {
	// スマホの時のみ改行する
	&.is-sp-break {
		display: none;
		@include my_is-sp() {
			display: block;
		}
	}
	// PCの時のみ改行する
	&.is-sp-none {
		display: block;
		@include my_is-sp() {
			display: none;
		}
	}
}
