@charset "utf-8";
//-------------------------------------------
// テキスト
//-------------------------------------------

// Text
// 
// ・テキストに使用するスタイル<br>
// ・基本的にはinlineで使用することを想定
//
// Styleguide: 12


// text-attention
//
//
// Markup:
// <span class="m-text-attention">※必須</span>
//
// Styleguide: 12.attention
.m-text-attention {
	font-size: 120%;;
	font-weight: bold;
	color: $g_color-accent;
}


// text-note
//
//
// Markup:
// <span class="m-text-note">※必須</span>
//
// Styleguide: 12.note
.m-text-note {
	font-weight: normal;
	font-style: oblique;
	color: #777;
}


// text-bigger
//
// - 必要に応じてmodifierでサイズを増減させる
//
// Markup:
// <span class="m-text-bigger">大き</span>くする
//
// Styleguide: 12.bigger
.m-text-bigger {
	font-size: 120%;;
}

// text-smaller
//
// - 必要に応じてmodifierでサイズを増減させる
//
// Markup:
// <span class="m-text-smaller">大き</span>くする
//
// Styleguide: 12.smaller
.m-text-smaller {
	font-size: 120%;;
}

